{% extends 'base.html.twig' %}

{% block title %} Add room - Hotel App{% endblock %}

{% block body %}

    <h1>Add room</h1>
        <div class="col-md-4">
            {{ form_start(form)}}
                <div class="form-label mt-3 mb-0"> {{ form_label(form.type, 'Type') }} </div>
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger m-0"> {{ form_errors(form.type) }}</small>
                <div class="form-label mt-3 mb-0"> {{ form_label(form.no, 'Room number') }} </div>
                {{ form_widget(form.no, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger m-0"> {{ form_errors(form.no) }}</small>
                <div class="form-label mt-3 mb-0"> {{ form_label(form.price, 'Price') }} </div>
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger m-0"> {{ form_errors(form.price) }}</small>
                <div>
                    <button type="submit" class="btn btn-sm btn-success px-5 my-3">add</button>
                    <a href="{{ path('rooms') }}"><button type="button" class="btn btn-sm btn-secondary px-5 my-3">back</button></a>
                </div>
            {{ form_end(form) }}
        </div>

{% endblock %}
