{% extends 'base.html.twig' %}

{% block title %}Room list - Hotel App{% endblock %}

{% block body %}

    <h1>room list</h1>
    <h2>list of all rooms in the hotel</h2>
    <a href="{{ path('add-room') }}"><button type="button" class="btn btn-sm btn-secondary px-5 my-2">add room</button></a>
    {% if rooms is empty %}
    <div class="alert alert-secondary my-4">No data</div>
    {% else %}
        <table class="table align-middle my-4">
            <thead>
                <tr>
                    <th>no</th>
                    <th>type</th>
                    <th>price</th>
                    <th>availability</th>
                    <th>guest name</th>
                    <th>guest surname</th>
                    <th>guest telephone</th>
                    <th></th>
                </tr>
            </thead>
            {% for room in rooms %}
            <tbody>
                <tr class="body-row">
                    <td>{{ room.no }}</td>
                    <td>{{ room.type }}</td>
                    <td>{{ room.price }}</td>
                    {% if room.availability == 1 %}<td class="text-danger">booked</td>{% else %}<td class="text-success">free{% endif %}</td>
                    <td>{{ room.guestName }}</td>
                    <td>{{ room.guestSurname }}</td>
                    <td>{{ room.guestTel }}</td>
                    <td><a href="/room/{{ room.no }}"><button type="button" class="btn btn-sm btn-success px-4">edit</button></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
